
mat-divider {
    margin: 30px 0 !important;
}

mat-slider {
    width: 300px !important;
}

mat-form-field {
    margin: 0 5px;
    margin-bottom: 0 !important;

    @media screen and (max-width: 767px) {
        width: 100% !important;
    }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay 
{
    background-color: white !important;
}


.mdc-slider__track {
    background-color: white !important;
}

//* for the little box below the material inputs.
// .mat-mdc-form-field-subscript-wrapper,
// .mat-mdc-form-field-bottom-align
// {
//     display: none;
// }