@use './variables.scss' as *;

mat-divider {
    margin: 20px 0 !important;

    &.product-divider {
        margin: 20px 0 40px !important;
        
        @media screen and (min-width: 992px) {
            display: none !important;
        }
    }
}

.material-icons {
    font-family: 'Material Icons';
}

.mat-mdc-option {
    font-family: $font-inter;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
    background-color: rgb(250, 249, 253) !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

//* Override the default color of the asterisk in the label of an Angular material input field.
.mat-mdc-form-field-required-marker {
    color: rgb(255, 35, 35);
    font-size: 20px;
}

//* Small box below mat-form-field input.
.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
    @media screen and (max-width: 580px) {
        margin: 0;
    }
}

//* Removing the increment/decrement buttons in type number inputs.
//* Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//* Firefox
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

//* language dropdown menu
.mat-mdc-menu-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mat-mdc-menu-content {
    padding: 0 !important;
    background-color: rgb(233, 233, 233);
    min-width: 140px;
}

.mat-mdc-menu-item {
    border-radius: 0px !important;
}