$black: rgb(64, 64, 64);
$blue: rgb(24, 75, 116);
$error-red: rgb(186, 26, 26);
$transition: all .1s linear;

$font-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;