<header appHeader></header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="container">
        <h3>Company Information</h3>
        <section class="info-block">
            <mat-form-field class="input-50">
                <mat-label>Company Name</mat-label>
                <input matInput formControlName="companyName">
                @if (companyNameIsInvalid) {
                    <span class="error-message">Please, enter your company name</span>
                }
            </mat-form-field>
            <mat-form-field class="input-50">
            <mat-label>Logo link</mat-label>
            <input matInput formControlName="logoLink" [disabled]="logoVisibility()" [value]="logo" (input)="onLogoChange($event)">
            </mat-form-field>
        </section>
        <section class="info-block">
            <mat-form-field class="input-25">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="companyPhone">
                @if (companyPhoneIsInvalid) {
                    <span class="error-message">Please, enter a phone number</span>
                }
            </mat-form-field>
            <mat-form-field class="input-25">
                <mat-label>Email</mat-label>
                <input matInput formControlName="companyEmail" email>
                @if (companyEmailIsInvalid) {
                    <span class="error-message">Please, enter a valid email</span>
                }
            </mat-form-field>
            <mat-form-field class="input-50">
                <mat-label>Location</mat-label>
                <input matInput formControlName="companyLocation">
                @if (companyLocationIsInvalid) {
                    <span class="error-message">Please, enter your company location</span>
                }
            </mat-form-field>
        </section>
        <section class="company-details">
            <div>
                @if (logo && !logoVisibility()) {
                    <img [src]="logo" [style.width.px]="logoWidthSignal()" style="height: auto;">
                }
            </div>
            <article>
                <h4>{{ form.controls.companyName.value }}</h4>
                <h6>{{ form.controls.companyPhone.value }}</h6>
                <h6>{{ form.controls.companyEmail.value }}</h6>
                <h6>{{ form.controls.companyLocation.value }}</h6>
            </article>
        </section>
        @if (logo) {
            <section class="slider-switch">
                <mat-slider min="100" max="400" (input)="onSliderChange($event)" [disabled]="logoVisibility()">
                    <input matSliderThumb [value]="logoWidthSignal()" formControlName="logoWidth">
                </mat-slider>
                <span 
                    [style.text-decoration]="logoVisibility() ? 'line-through' : ''"
                    [style.color]="logoVisibility() ? 'grey' : 'inherit'"
                >
                    {{ logoWidthSignal() }}px
                </span>
                <mat-slide-toggle (click)="toggleLogoVisibility()" formControlName="logoInclude">
                    <span style="margin-left: 10px;">
                        {{ !logoVisibility() ? 'Exclude the logo from the pdf' : 'Include the logo in the pdf'}}
                    </span>
                </mat-slide-toggle>
            </section>
        }
    </section>
    <section class="container">
        <h3>Customer Information</h3>
        <section class="info-block">
            <mat-form-field class="input-50">
                <mat-label>Name</mat-label>
                <input matInput formControlName="customerName">
                @if (customerNameIsInvalid) {
                    <span class="error-message">Please, enter your customer's name</span>
                }
            </mat-form-field>
            <mat-form-field class="input-25">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="customerPhone">
                @if (customerPhoneIsInvalid) {
                    <span class="error-message">Please, enter a phone number</span>
                }
            </mat-form-field>
            <mat-form-field class="input-25">
                <mat-label>Email</mat-label>
                <input matInput formControlName="customerEmail">
                @if (customerEmailIsInvalid) {
                    <span class="error-message">Please, enter a valid email</span>
                }
            </mat-form-field>
            </section>
    </section>
    <section class="container" formArrayName="products">
        <section class="products-header">
            <h3>Product List</h3>
            <button (click)="onAddProduct()" type="button" class="icon-btn add">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </button>
        </section>
        @for (product of allProducts; track product) {
            <section class="info-block" [formGroupName]="$index">
                <mat-form-field class="input-50">
                    <mat-label>Product name</mat-label>
                    <input matInput formControlName="name">
                    @if (product.controls.name.invalid && product.controls.name.touched) {
                        <span class="error-message">Please, enter a product or delete the product if not needed.</span>
                    }
                </mat-form-field>
                <mat-form-field class="input-25">
                    <mat-label>Quantity</mat-label>
                    <mat-select formControlName="quantity">
                        @for ( option of allQtyOptions; track $index ) {
                            <mat-option value="option">{{ option }}</mat-option>
                        }
                    </mat-select>
                    @if (product.controls.quantity.invalid && product.controls.quantity.touched) {
                        <span class="error-message">Please, add quantity.</span>
                    }
                </mat-form-field>
                <mat-form-field class="input-25">
                    <mat-label>Total Price €</mat-label>
                    <input matInput formControlName="price" type="number">
                    @if (product.controls.price.invalid && product.controls.price.touched) {
                        <span class="error-message">Please, add product price.</span>
                    }
                </mat-form-field>
                <button (click)="onDeleteProduct($index)" type="button" class="icon-btn delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>
                <mat-divider />
            </section>
        }
        @if (formIsInvalid) {
            <p class="form-error-message">Please make sure all fields are filled correctly!</p>
        }
        <button mat-raised-button>Generate .pdf</button>
    </section>
</form>
<footer appFooter></footer>