<app-hero-section (getStarted)="onGetStarted()" />
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <section class="container" id="get-started">
        <h3>{{ content.company.sectionTitle }}</h3>
        <section class="info-block">
            <div class="input-50">
                <mat-form-field>
                    <mat-label>{{ content.company.name.label }}</mat-label>
                    <input matInput formControlName="companyName">
                </mat-form-field>
                @if (formControlIsInvalidAndTouched('companyName')) {
                    <span class="error-message">{{ content.company.name.errorMessage }}</span>
                }
            </div>
            <div class="input-50">
                <mat-form-field>
                    <mat-label>{{ content.company.subtitle.label }}</mat-label>
                    <input matInput formControlName="companySubtitle">
                </mat-form-field>
            </div>
        </section>
        <section class="info-block">
            <div class="input-25">
                <mat-form-field>
                    <mat-label>{{ content.company.phone.label }}</mat-label>
                    <input matInput formControlName="companyPhone">
                </mat-form-field>
                @if (formControlIsInvalidAndTouched('companyPhone')) {
                    <span class="error-message">{{ content.company.phone.errorMessage }}</span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>{{ content.company.email.label }}</mat-label>
                    <input matInput formControlName="companyEmail">
                </mat-form-field>
                @if (formControlIsInvalidAndTouched('companyEmail')) {
                    <span class="error-message">{{ content.company.email.errorMessage }}</span>
                }
            </div>
            <div class="input-50">
                <mat-form-field>
                    <mat-label>{{ content.company.location.label }}</mat-label>
                    <input matInput formControlName="companyLocation">
                </mat-form-field>
                @if (formControlIsInvalidAndTouched('companyLocation')) {
                    <span class="error-message">{{ content.company.location.errorMessage }}</span>
                }
            </div>
        </section>
    </section>
    <section class="container">
        <h3>{{ content.client.sectionTitle }}</h3>
        <section class="info-block" formGroupName="customer">
            <div class="input-50">
                <mat-form-field>
                    <mat-label>{{ content.client.name.label }}</mat-label>
                    <input matInput formControlName="customerName">
                </mat-form-field>
                @if (customerNameIsInvalid) {
                    <span class="error-message">{{ content.client.name.errorMessage }}</span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>{{ content.client.phone.label }}</mat-label>
                    <input matInput formControlName="customerPhone">
                </mat-form-field>
                @if (customerPhoneIsInvalid) {
                    <span class="error-message">{{ content.client.phone.errorMessage }}</span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>{{ content.client.email.label }}</mat-label>
                    <input matInput formControlName="customerEmail">
                </mat-form-field>
                @if (customerEmailIsInvalid) {
                    <span class="error-message">{{ content.client.email.errorMessage }}</span>
                }
            </div>
        </section>
    </section>
    <section class="container">
        <h3>{{ content.settings.sectionTitle }}</h3>
        <section class="settings-block">
            <mat-radio-group [value]="theOfferHasExpirationDate()" (change)="onExpirationChange($event.value)" aria-label="Select an option">
                <mat-radio-button value="permanent">{{ content.settings.radio1 }}</mat-radio-button>
                <mat-radio-button value="expires">{{ content.settings.radio2 }}</mat-radio-button>
            </mat-radio-group>

            <div class="expiration-date-box">
                <mat-form-field>
                    <mat-label>{{ content.settings.input.label }}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="expirationDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                @if (formControlIsInvalidAndTouched('expirationDate')) {
                    <span class="error-message">{{ content.settings.input.errorMessage }}</span>
                }
            </div>

        </section>
        <section class="notes-block">
            <button (click)="onNotesSelected()" mat-raised-button type="button">
                <mat-icon>{{ !notesEnabled() ? 'add' : 'remove' }}</mat-icon>
                @if (!notesEnabled()) {
                    {{ content.settings.button.add }}
                }
                @else {
                    {{ content.settings.button.delete }}
                }
            </button>
            @if (notesEnabled()) {
                <mat-form-field class="example-full-width" app>
                    <mat-label>{{ content.settings.textAreaLabel }}</mat-label>
                    <textarea (input)="trackTextareaLines($event)" matInput maxlength="200" [rows]="textareaRows()" formControlName="notes"></textarea>
                </mat-form-field>
            }
        </section>
    </section>
    <section class="container" formArrayName="products">
        <section class="products-header">
            <h3>{{ content.products.sectionTitle }}</h3>
            <app-product-list-action-button buttonType="add" (click)="onAddProduct()" />
        </section>
        @for (product of allProducts; track product) {
            <section class="info-block" [formGroupName]="$index">
                <h5>{{ $index + 1 }}<span>.</span></h5>
                <div class="input-50">
                    <mat-form-field>
                        <mat-label>{{ content.products.product.title.label }}</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    @if (product.controls.name.invalid && product.controls.name.touched) {
                        <span class="error-message">{{ content.products.product.title.errorMessage }}</span>
                    }
                </div>
                <div class="input-25 product-quantity-price">
                    <mat-form-field>
                        <mat-label>{{ content.products.product.quantity.label }}</mat-label>
                        <mat-select formControlName="quantity" type="number">
                            @for ( option of qtyOptions; track $index ) {
                                <mat-option [value]="option">{{ option }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    @if (product.controls.quantity.invalid && product.controls.quantity.touched) {
                        <span class="error-message">{{ content.products.product.quantity.errorMessage }}</span>
                    }
                </div>
                <div class="input-25 product-quantity-price">
                    <mat-form-field>
                        <mat-label>{{ content.products.product.unitPrice.label }}</mat-label>
                        <input matInput formControlName="price" type="number">
                    </mat-form-field>
                    @if (product.controls.price.invalid && product.controls.price.touched) {
                        <span class="error-message">{{ content.products.product.unitPrice.errorMessage }}</span>
                    }
                </div>
                <app-product-list-action-button buttonType="delete" (click)="onDeleteProduct($index)" />
            </section>
            <mat-divider class="product-divider" />
        }
        @empty {
            <h6 class="product-list-empty">{{ content.products.listIsEmpty }}</h6>
        }
        <section class="products-header products-header-mobile">
            <h5>{{ content.products.mobileHeader }}</h5>
            <app-product-list-action-button buttonType="add" (click)="onAddProduct()" />
        </section>
        <mat-button-toggle-group [vertical]="buttonsVertical()" [value]="selectedOrientation()" (change)="onOrientationChange($event.value)" name="orientation" aria-label="PDF file orientation">
            <mat-button-toggle value="vertical">{{ content.orientation.vertical }}<img src="orientation-icons/vertical.svg" alt="vertical"></mat-button-toggle>
            <mat-button-toggle value="horizontal">{{ content.orientation.horizontal }}<img src="orientation-icons/horizontal.svg" alt="horizontal"></mat-button-toggle>
        </mat-button-toggle-group>       
        <mat-radio-group [value]="printOption()" (change)="onColouredPdfOptionChange($event.value)" aria-label="Select an option">
            <mat-radio-button value="withColour">{{ content.colourOptions.coloured }}</mat-radio-button>
            <mat-radio-button value="withoutColour">{{ content.colourOptions.withoutColour }}</mat-radio-button>
        </mat-radio-group>
        <section class="submit-section">
            @if (theListIsEmpty()) {
                <span class="form-error-message">{{ content.submit.listEmptyMessage }}</span>
                
            }
            @if (formIsInvalid) {
                <span class="form-error-message">{{ content.submit.formErrorMessage }}</span>
            }
        </section>
        <button type="submit" mat-raised-button>{{ content.submit.button }}</button>
    </section>
</form>