<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <app-hero-section (getStarted)="onGetStarted()" />
    
    <section class="container" id="get-started">
        <h3>
            <app-language-switch
                greek="Πληροφορίες Εταιρείας"
                english="Company Information"
                spanish="Información de la Empresa"
            /></h3>
        <section class="info-block">
            <div class="input-50">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Όνομα Εταιρείας"
                            english="Company Name"
                            spanish="Nombre de la Empresa"
                        />
                    </mat-label>
                    <input matInput formControlName="companyName">
                </mat-form-field>
                @if (companyNameIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε όνομα εταιρείας / επωνυμία."
                        english="Please, enter your company name."
                        spanish="Por favor, ingrese el nombre de su empresa."
                    ></span>
                }
            </div>
            <div class="input-50">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Υπότιτλος Εταιρείας (προαιρετικό)"
                            english="Company Subtitle (optional)"
                            spanish="Subtítulo de la Empresa (opcional)"
                        />
                    </mat-label>
                    <input matInput formControlName="companySubtitle">
                </mat-form-field>
            </div>
        </section>
        <section class="info-block">
            <div class="input-25">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Τηλέφωνο"
                            english="Phone"
                            spanish="Teléfono"
                        />
                    </mat-label>
                    <input matInput formControlName="companyPhone">
                </mat-form-field>
                @if (companyPhoneIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε αριθμό τηλεφώνου."
                        english="Please, enter a phone number."
                        spanish="Por favor, ingrese un número de teléfono."
                    ></span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Διευθ. Ηλ. Ταχυδρομείου"
                            english="Email"
                            spanish="Correo Electrónico"
                        />
                    </mat-label>
                    <input matInput formControlName="companyEmail" email>
                </mat-form-field>
                @if (companyEmailIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε σωστό email."
                        english="Please, enter a valid email."
                        spanish="Por favor, ingrese un correo electrónico válido."
                    ></span>
                }
            </div>
            <div class="input-50">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Τοποθεσία"
                            english="Location"
                            spanish="Ubicación"
                        />
                    </mat-label>
                    <input matInput formControlName="companyLocation">
                </mat-form-field>
                @if (companyLocationIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε τοποθεσία εταιρείας."
                        english="Please, enter your company location."
                        spanish="Por favor, ingrese la ubicación de su empresa."
                    ></span>
                }
            </div>
        </section>
        <section class="company-details information-headings">
            <article>
                <h4>{{ form.controls.companyName.value }}</h4>
                <h5>{{ form.controls.companySubtitle.value }}</h5>
                <h6>{{ form.controls.companyPhone.value }}</h6>
                <h6>{{ form.controls.companyEmail.value }}</h6>
                <h6>{{ form.controls.companyLocation.value }}</h6>
            </article>
            <article>
                <h4>{{ form.controls.customer.controls.customerName.value }}</h4>
                <h6>{{ form.controls.customer.controls.customerPhone.value }}</h6>
                <h6>{{ form.controls.customer.controls.customerEmail.value }}</h6>
            </article>
        </section>
    </section>

    <section class="container">
        <h3><app-language-switch
                greek="Πληροφορίες Πελάτη"
                english="Client Information"
                spanish="Información del Cliente"
            /></h3>
        <section class="info-block" formGroupName="customer">
            <div class="input-50">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Όνομα Πελάτη"
                            english="Client Name"
                            spanish="Nombre del Cliente"
                        />
                    </mat-label>
                    <input matInput formControlName="customerName">
                </mat-form-field>
                @if (customerNameIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε όνομα / επωνυμία πελάτη."
                        english="Please, enter your customer's name."
                        spanish="Por favor, ingrese el nombre de su cliente."
                    ></span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Τηλέφωνο"
                            english="Phone"
                            spanish="Teléfono"
                        />
                    </mat-label>
                    <input matInput formControlName="customerPhone">
                </mat-form-field>
                @if (customerPhoneIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε αριθμό τηλεφώνου."
                        english="Please, enter a phone number."
                        spanish="Por favor, ingrese un número de teléfono."
                    ></span>
                }
            </div>
            <div class="input-25">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Διευθ. Ηλ. Ταχυδρομείου"
                            english="Email"
                            spanish="Correo Electrónico"
                        />
                    </mat-label>
                    <input matInput formControlName="customerEmail">
                </mat-form-field>
                @if (customerEmailIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ, εισάγετε σωστό email."
                        english="Please, enter a valid email."
                        spanish="Por favor, ingrese un correo electrónico válido."
                    ></span>
                }
            </div>
        </section>
    </section>

    <section class="container">
        <h3><app-language-switch
                greek="Ρυθμίσεις προσφοράς"
                english="Offer settings"
                spanish="Configuración de la oferta"
            /></h3>
        <section class="settings-block">
            <mat-radio-group [value]="theOfferHasExpirationDate()" (change)="onExpirationChange($event.value)" aria-label="Select an option">
                <mat-radio-button value="permanent">
                    <app-language-switch
                        greek="Η προσφορά είναι μόνιμη"
                        english="The offer is valid permanently"
                        spanish="La oferta es válida permanentemente"
                    />
                </mat-radio-button>
                <mat-radio-button value="expires">
                    <app-language-switch
                        greek="Με ημερομηνία λήξης"
                        english="With an expiration date"
                        spanish="Con fecha de vencimiento"
                    />
                </mat-radio-button>
            </mat-radio-group>

            <div class="expiration-date-box">
                <mat-form-field>
                    <mat-label>
                        <app-language-switch
                            greek="Ημ/νία λήξης προσφοράς"
                            english="Offer expiration date"
                            spanish="Fecha de vencimiento de la oferta"
                        />
                    </mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="expirationDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                @if (dateIsInvalid) {
                    <span ErrorMessage 
                        classes="error-message"
                        greek="Παρακαλώ κάντε κλικ στο κουμπί δίπλα από το πεδίο εισαγωγής για να επιλέξετε μια ημερομηνία."
                        english="Please click the button next to the input field to select a date."
                        spanish="Por favor, haga clic en el botón junto al campo de entrada para seleccionar una fecha."
                    ></span>
                }
            </div>

        </section>

        <section class="notes-block">
            <button (click)="onNotesSelected()" [color]="!notesEnabled() ? 'primary' : 'warn'" mat-raised-button type="button">
                <mat-icon>{{ !notesEnabled() ? 'add' : 'remove' }}</mat-icon>
                @if (!notesEnabled()) {
                    <app-language-switch
                        greek="Προσθήκη σημειώσεων"
                        english="Add notes"
                        spanish="Añadir notas"
                    />
                }
                @else {
                    <app-language-switch
                        greek="Διαγραφή σημειώσεων"
                        english="Delete notes"
                        spanish="Eliminar notas"
                    />
                }
            </button>
            @if (notesEnabled()) {
                <mat-form-field class="example-full-width" app>
                    <mat-label>
                        <app-language-switch
                            greek="Σημειώσεις (έως 200 χαρακτήρες)"
                            english="Notes (up to 200 characters)"
                            spanish="Notas (hasta 200 caracteres)"
                        />
                    </mat-label>
                    <textarea matInput maxlength="200" [rows]="textareaRows()" formControlName="notes"></textarea>
                </mat-form-field>
            }
        </section>
    </section>

    <section class="container" formArrayName="products">
        <section class="products-header">
            <h3><app-language-switch
                    greek="Λίστα προϊόντων"
                    english="Product list"
                    spanish="Lista de productos"
            /></h3>
            <app-add-remove-button buttonType="add" (click)="onAddProduct()" />
        </section>
        @for (product of allProducts; track product) {
            <section class="info-block" [formGroupName]="$index">
                <h5>{{ $index + 1 }}<span>.</span></h5>
                <div class="input-50">
                    <mat-form-field>
                        <mat-label>
                            <app-language-switch
                                greek="Τίτλος Προϊόντος"
                                english="Product Title"
                                spanish="Título del Producto"
                            />
                        </mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    @if (product.controls.name.invalid && product.controls.name.touched) {
                        <span ErrorMessage 
                            classes="error-message"
                            greek="Παρακαλώ, εισάγετε όνομα προϊόντος."
                            english="Please, enter product name."
                            spanish="Por favor, ingrese el nombre del producto."
                        ></span>
                    }
                </div>
                <div class="input-25">
                    <mat-form-field>
                        <mat-label>
                            <app-language-switch
                                greek="Ποσότητα"
                                english="Quantity"
                                spanish="Cantidad"
                            />
                        </mat-label>
                        <mat-select formControlName="quantity" type="number">
                            @for ( option of qtyOptions; track $index ) {
                                <mat-option [value]="option">{{ option }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    @if (product.controls.quantity.invalid && product.controls.quantity.touched) {
                        <span ErrorMessage 
                            classes="error-message"
                            greek="Παρακαλώ, εισάγετε ποσότητα."
                            english="Please, add quantity."
                            spanish="Por favor, ingrese la cantidad."
                        ></span>
                    }
                </div>
                <div class="input-25">
                    <mat-form-field>
                        <mat-label>
                            <app-language-switch
                                greek="Τιμή Μονάδας €"
                                english="Unit Price €"
                                spanish="Precio Unitario €"
                            />
                        </mat-label>
                        <input matInput formControlName="price" type="number">
                    </mat-form-field>
                    @if (product.controls.price.invalid && product.controls.price.touched) {
                        <span ErrorMessage 
                            classes="error-message"
                            greek="Παρακαλώ εισάγετε τιμή προϊόντος."
                            english="Please, add product price."
                            spanish="Por favor, ingrese el precio del producto."
                        ></span>
                    }
                </div>
                <app-add-remove-button buttonType="delete" (click)="onDeleteProduct($index)" />
            </section>
            <mat-divider class="product-divider" />
        }

        <section class="products-header products-header-mobile">
            <h5><app-language-switch
                    greek="Προσθήκη προϊόντος"
                    english="Add Product"
                    spanish="Añadir Producto"
            /></h5>
            <app-add-remove-button buttonType="add" (click)="onAddProduct()" />
        </section>

        <mat-radio-group [value]="printOption()" (change)="onColouredPdfOptionChange($event.value)" aria-label="Select an option">
            <mat-radio-button value="withColour">
                <app-language-switch
                    greek="Εκτύπωση αρχείου pdf με χρώμα"
                    english="Print coloured pdf file"
                    spanish="Imprimir archivo pdf a color"
                />
            </mat-radio-button>
            <mat-radio-button value="withoutColour">
                <app-language-switch
                    greek="Αφαίρεση χρωμάτων (εξοικονόμηση μελανιού)"
                    english="Remove colours (saves ink)"
                    spanish="Eliminar colores (ahorra tinta)"
                />
            </mat-radio-button>
        </mat-radio-group>
        
        <section class="submit-section">
            @if (formIsInvalid) {
                <span ErrorMessage 
                    classes="form-error-message"
                    greek="Παρακαλώ, βεβαιωθείτε ότι όλα τα πεδία είναι συμπληρωμένα σωστά!"
                    english="Please make sure all fields are filled correctly!"
                    spanish="¡Por favor, asegúrese de que todos los campos estén completados correctamente!"
                ></span>
            }
        </section>
        <button type="submit" mat-raised-button>
            <app-language-switch
                greek="Λήψη αρχείου .pdf"
                english="Download .pdf file"
                spanish="Descargar archivo .pdf"
            />
        </button>
    </section>

</form>